<div class="col-span-12 row-span-8">
    <h1>Change view</h1>

<form phx-submit="save" phx-change="validate" phx-target={@myself}>
  <%= live_file_input @uploads.avatar %>
  <button type="submit">Upload</button>
</form>


</div>