<main>
  <p class="d-none info-alert" id="info-alert"><%= live_flash(@flash, :info) %></p>

  <p class="d-none danger-alert" id="danger-alert"><%= live_flash(@flash, :error) %></p>

  <%= @inner_content %>
</main>
