<!DOCTYPE html>
<html lang="ru" class=""><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="57x57" href="/img/fav/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/fav/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/fav/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/fav/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/fav/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/fav/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/fav/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/fav/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/fav/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/img/fav/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/fav/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/img/fav/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/fav/favicon-16x16.png">
  <link rel="manifest" href="/img/fav/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/img/fav/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Rubik:wght@400;500;600&family=Ubuntu+Mono&display=swap" rel="stylesheet">
  <%= csrf_meta_tag() %>
  <%= live_title_tag assigns[:page_title] || "Makoto", suffix: " · Phoenix Framework" %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  <title> Optimine </title>
    <link rel="stylesheet" href="/assets/jquery.Jcrop.min.css" />
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <script src="/assets/jquery.Jcrop.min.js" ></script>
    <script src="/assets/skinview3d.bundle.js" ></script>
     <script src="/assets/jquery.nice-select.min.js" ></script>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.5/bootstrap-notify.min.js"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css'>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
</head>
<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top nav-om-bg">
      <div class="container">
        <a class="navbar-brand logo" href="/"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/page/donate">Донат</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/page/rules">Правила</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://forum.optimine.su/">Форум</a>
            </li>
          </ul>
          <label id="switch" class="switch theme-switch my-auto mr-3">
        <input type="checkbox" id="checkbox">
        <span class="slider round sdn"></span>
    </label>

          <div>
              <%= if @current_user do %>
                <%= link "Личный кабинет", to: Routes.user_cabinet_index_path(@conn, :index, @current_user.username), class: "btn btn-om btn-login mr-3" %>
                <%= link "Выйти", to: Routes.user_session_path(@conn, :delete), method: :delete, class: "btn btn-om btn-reg" %>
              <% else %>
                            <a href={Routes.user_session_path(@conn, :new)} class="btn btn-om btn-login mr-3"><span class="button-helper"></span>Войти</a>
                            <a href={Routes.user_registration_path(@conn, :new)} class="btn btn-om btn-reg"><span class="button-helper"></span>Регистрация</a>
              <% end %>
          </div>

        </div>
      </div>
    </nav>
  </header>
<%= @inner_content %>





<script type="text/javascript">


  function getRandomArbitrary(min, max) {
    min = Math.ceil(min);
    max = Math.floor(max);
    return Math.floor(Math.random() * (max - min + 1)) + min;
  }
  $(".sale-block").hover(
    function() {
      var itms = $(this).find('.crystal');

      $.each(itms, function (index, div) {
          var randL = getRandomArbitrary(0,50);
          var randT = getRandomArbitrary(0,50);
          var randRot = getRandomArbitrary(-85,85);
          $(this).css({"transform": "translate("+randL+"%, "+randT+"%) rotate("+randRot+"deg)"});
      });

    },function() {
      var itms = $(this).find('.crystal');
      $.each(itms, function (index, div) {
          $(this).css({"transform": ""});
      });

    },
  );



    var scroll_start = 50;
    var startchange = $('.nav-om-bg');
    var offset = startchange.offset();
    if (window.location.pathname === '/') {
        if (startchange.length){
          $(document).scroll(function() {
            scroll_start = $(document).scrollTop();
            if(scroll_start > offset.top) {
              // $(".nav-om-bg").css('background-color', '#f0f0f0');
              startchange.addClass("nav-om-bg-c");
            } else {
              // $('.nav-om-bg').css('background-color', 'transparent');
              if (startchange.hasClass("nav-om-bg")) {
                startchange.removeClass("nav-om-bg-c");
              }
            }
          });
        }
    }
    else {
        startchange.addClass("nav-om-bg-c");
    }



  async function postData(url = '', data = {}) {
    // Default options are marked with *
    const response = await fetch(url, {
      method: 'POST', // *GET, POST, PUT, DELETE, etc.
      mode: 'cors', // no-cors, *cors, same-origin
      cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
      credentials: 'same-origin', // include, *same-origin, omit
      headers: {
        'Content-Type': 'application/json',
        "X-CSRFToken": "IjEzYmUwNTAwYmRkNzlmMzM3NDZlNmFhZjY4YmI4N2RkMWZhN2NmZjki.Ybi0aw.M_N6xzbqjOf8atE-U2lX66o0448"

      },
      redirect: 'follow', // manual, *follow, error
      referrerPolicy: 'no-referrer', // no-referrer, *client
      body: JSON.stringify(data) // body data type must match "Content-Type" header
    });
    return await response.json(); // parses JSON response into native JavaScript objects
  }





  $(document).ready(function() {
    $('.selector').niceSelect();
  });

  function request(url,data) {

    var out = '';
    $.ajax({
      url: url,
      type: 'POST',
      data: data,
      async:false,
      success: function (datas) {
        out = datas;
      }
    });

    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", "IjEzYmUwNTAwYmRkNzlmMzM3NDZlNmFhZjY4YmI4N2RkMWZhN2NmZjki.Ybi0aw.M_N6xzbqjOf8atE-U2lX66o0448")
        }
      }
    });

    return out;

  }

  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({trigger: "hover"});
  });

  setInterval(() => {
    alerts = document.getElementsByClassName("info-alert")
    for(alert of alerts) {
      if (alert.innerHTML !== "") {
      $.notify({
      message: alert.innerHTML
    },{
      type: 'info',
      animate: {
		    enter: 'animated fadeInUp',
        exit: 'animated fadeOutRight'
      },
      placement: {
        from: "bottom",
        align: "left"
      },
      offset: 20,
      spacing: 10,
      z_index: 1031,
    });

    alert.innerHTML = ""
    }
      }

    alerts = document.getElementsByClassName("danger-alert")
    for(alert of alerts) {
      if (alert.innerHTML !== "") {
      $.notify({
      message: alert.innerHTML
    },{
      type: 'info',
      animate: {
		    enter: 'animated fadeInUp',
        exit: 'animated fadeOutRight'
      },
      placement: {
        from: "bottom",
        align: "left"
      },
      offset: 20,
      spacing: 10,
      z_index: 1031,
    });

    alert.innerHTML = ""
    }
      }
  }, 100)
</script>

<script type="text/javascript">
function getCookie(name) {
  let matches = document.cookie.match(new RegExp(
    "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
  ));
  return matches ? decodeURIComponent(matches[1]) : undefined;
}
const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');
// const currentTheme = localStorage.getItem('theme');
const currentTheme = getCookie('theme') || false;

if (currentTheme) {
  document.documentElement.setAttribute('class', currentTheme);

  if (currentTheme === 'dark-theme') {
    toggleSwitch.checked = true;
  }
}

function switchTheme(e) {
  if (e.target.checked) {
    document.documentElement.setAttribute('class', 'dark-theme');
    // localStorage.setItem('theme', 'dark-theme');
    document.cookie = 'theme' + "=" + ('dark-theme' || "") + "; path=/ ;max-age=31536000";
  }
  else {        document.documentElement.setAttribute('class', 'light-theme');
  // localStorage.setItem('theme', 'light-theme');
  document.cookie = 'theme' + "=" + ('light-theme' || "") + "; path=/ ;max-age=31536000";

}
}

toggleSwitch.addEventListener('change', switchTheme, false);

</script>
</body></html>
