<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Makoto", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header class="bg-white">
      <!-- This example requires Tailwind CSS v2.0+ -->
      <nav class="bg-white-800">
        <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
          <div class="relative flex items-center justify-between h-12">
            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start ">
              <div class="flex-shrink-0 flex items-center">
                    <a href="/"><img src="/images/logo.svg"></a>
              </div>
              <div class="hidden sm:block sm:mx-auto flex items-center">
                <div class="flex space-x-4">
                  <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                  <a href="/" class="text-black hover:text-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Главная</a>

                  <a href="#" class="text-black hover:text-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Донат</a>

                  <a href="#" class="text-black hover:text-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Правила</a>

                  <a href="#" class="text-black hover:text-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Форум</a>
                </div>
              </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

              <%= if @current_user do %>
                <%#= @current_user.email %>
                <%= link "Личный кабинет", to: Routes.user_settings_path(@conn, :redirect_to_liveview), class: "hidden sm:block text-black hover:text-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
                <%= link "Выйти", to: Routes.user_session_path(@conn, :delete), method: :delete, class: "hidden sm:block text-black hover:text-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
              <% else %>
                <%= link "Регистрация", to: Routes.user_registration_path(@conn, :new), class: "hidden sm:block text-black hover:text-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
                <%= link "Вход", to: Routes.user_session_path(@conn, :new), class: "hidden sm:block text-black hover:text-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
              <% end %>


              <!-- Profile dropdown -->
              <%# <div class="ml-3 relative">
                <div>
                  <button type="button" class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                    <span class="sr-only">Open user menu</span>
                    <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                  </button>
                </div> %>

                <!--
                  Dropdown menu, show/hide based on menu state.

                  Entering: "transition ease-out duration-100"
                    From: "transform opacity-0 scale-95"
                    To: "transform opacity-100 scale-100"
                  Leaving: "transition ease-in duration-75"
                    From: "transform opacity-100 scale-100"
                    To: "transform opacity-0 scale-95"
                -->
                <%# <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                  <!-- Active: "bg-gray-100", Not Active: "" -->
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
                </div> %>
              <%# </div> %>
            </div>
          </div>
        </div>

        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="sm:hidden flex items-center" id="mobile-menu">
          <div class="px-2 pt-2 pb-3 space-y-1">

            <%= if @current_user do %>
                <%#= @current_user.email %>
                <%= link "Личный кабинет", to: Routes.user_settings_path(@conn, :redirect_to_liveview), class: "text-black hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium" %>
                <%= link "Выйти", to: Routes.user_session_path(@conn, :delete), method: :delete, class: "text-black hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium" %>
              <% else %>
                <%= link "Регистрация", to: Routes.user_registration_path(@conn, :new), class: "text-black hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium" %>
                <%= link "Вход", to: Routes.user_session_path(@conn, :new), class: "ttext-black hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium" %>
              <% end %>

            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="#" class="text-black hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Главная(Тут нужно джс меню прикрутить для мобилы)</a>

            <a href="#" class="text-black hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Донат</a>

            <a href="#" class="text-black hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Правила</a>

            <a href="#" class="text-black hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Форум</a>
          </div>
        </div>
      </nav>
    </header>
    <div class="">
          <%= @inner_content %>
    </div>

  </body>
</html>
